* {
  margin: 0%;
  padding: 0%;
}

:root {
  --Cor--mode-linght: rgb(255, 255, 255);
  --Cor--de-texto: #fbff00;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(image/Fundo-header.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  height: 100vh;
  width: 100%;
}

nav {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
}

#Button-Mode {
  height: 50px;
  width: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 58rem;
  font-size: 1.5rem;
  background: transparent;
  border-radius: 50px;
  border: none;
  transition: 2s;
  animation: ease-out;
}

#Button-Mode:hover {
  background-color: rgba(255, 255, 255, 0.089);
  transition: 2s;
  animation: ease-out;
}

.Borda-Lupa {
  margin: 0 4rem;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: solid #fbff00 6px;
}

.CentroLupa {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: var(--Cor--mode-linght);
}

.Perna-Lupa {
  position: absolute;
  top: 2.8rem;
  left: 4rem;
  height: 23px;
  width: 10px;
  z-index: -1;
  transform: rotate(43deg);
  border-radius: 13px;
  background-color: var(--Cor--mode-linght);
}

.Login-Register {
  margin: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}

.Login-Register a {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: var(--Cor--mode-linght);
}

.Login-Register a:hover {
  color: var(--Cor--de-texto);
}
